[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
boto3 = "*"
botocore = "*"

[dev-packages]
ipython = "*"
pytest = "*"
moto = {extras = ["sns"], version = "*"}
pre-commit = "*"
pylint = "*"
mypy = "*"
coverage-badge = "*"
coverage = "*"
flake8 = "*"
flake8-html = "*"
genbadge = {extras = ["coverage", "flake8", "tests"], version = "*"}
pylint-quotes = "*"
pytest-benchmark = "*"
pytest-html = "*"
pytest-regressions = "*"
safety = "*"

[requires]
python_version = "3.11"

[scripts]
teset = "pytest"
